h1 {
    color: red;
    text-align: center;
}
body {
    background-color: #b3d7ff;
}
.topic {
    color: red;
    font-family: italic;
}
.unimportant {
    color: blue;
}
.important {
    color: red;
}